*.a
*.o
.deps/
.dirstamp

/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/autoscan.log
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure.ac~
/configure.scan
/configure~
/depcomp
/examples/*.log
/examples/*.trs
/include/Makefile
/include/Makefile.in
/install-sh
/missing
/stamp-h1
/test-driver
/test-suite.log
/tests/test*.log
/tests/test*.trs

/examples/raw_receiver
/examples/raw_sender
/tests/test_main
/tests/test_cons_pops_buffer_start
/tests/test_cons_reaches_queue_end
/tests/test_prod_jumps_to_buffer_start_and_pushes_too_long_message
/tests/test_prod_jumps_to_buffer_start_and_reaches_cons
/tests/test_prod_reaches_buffer_end
