*.a
*.o
.deps/
.dirstamp

/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/autoscan.log
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure.ac~
/configure.scan
/configure~
/depcomp
/examples/*.log
/examples/*.trs
/include/Makefile
/include/Makefile.in
/install-sh
/missing
/stamp-h1
/test-driver
/test-suite.log
/tests/test*.log
/tests/test*.trs

/examples/raw_receiver
/examples/raw_sender
/tests/test_init_consumer
